body {
  /* font는 밑에 클래스에 상속이 된다. form, input 같은 element에서는 font를 inherit 하지 않음*/
  font-size: 22px;
}

/* 여러 element 선택 */
h1, h2 {
  color: blue;
}

p {
  color: purple;
}

/* 마지막에 읽은 p element 위의 element를 override 해서 red로 나타난다*/
p {
  color: red;
}

/* class overrides  p, gray 클래스의 specificity가 더 높아서 p를 override한다 */
.gray {
  color: gray;
}

/* id should only exist once css에서는 id에서 쓰는 것은 별로 좋지 못하다*/
#second {
  font-style: italic;
}

/* 쉼표가 없을 땐 p element 하위의 span을 찾아 적용 */
p span {
  text-transform: uppercase;
  background-color: gold;
}
